*~
\#*#
.#*
*.pyc
*.so
*.[ao]
/MANIFEST
/dist/*
/.settings/*
/.project
/.pydevproject
/doc/netzob.1
/build/*
/netzob.bat
*.egg-info
/resources/static/netzob/locales/netzob.pot
*.mo
.tox
doc/documentation/build/
/doc/api
src/netzob_plugins/*/*/build/
src/netzob_plugins/*/*/dist/
unittests_results.xml
tests-results.xml
.coverage
bin
core
include/python*
lib/python*
lib64
*.log
dist/
.mypy_cache/
src/netzob/Fuzzing/Generators/xorshift.c
doc/documentation/build/
.vagrant/
