*~
*.pyc
*.so
*.[ao]
/MANIFEST
/dist/*
/.settings/*
/.project
/.pydevproject
/doc/netzob.1
/build/*
/netzob.bat
*.egg-info
/resources/static/netzob/locales/netzob.pot
*.mo
.tox
doc/documentation/build/
/doc/api