include AUTHORS.txt
include COPYING.txt
include NEWS.txt
include PKG-INFO.txt
include README.txt
recursive-include doc *
recursive-include resources *
recursive-include lib *
recursive-exclude * *~ *.orig *.bak *.tmp *.pyc
