
<h4>Menu</h4>
<ul class="list-group symbol-list">    
    <li class="list-group-item"><a href="/captures/file">Import File</a>
</ul>

<button type="button" class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#new_symbol_modal">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<h4>Symbols</h4>

<div id="list-symbols" class="list-group symbols-list">
</div>


<!-- Modal: New Symbol -->
<div class="modal fade" id="new_symbol_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">New symbol</h4>
	    </div>
	    <div class="modal-body">

		<form>
		    <div class="form-group">
			<label for="new_symbol_name">Name</label>
			<input type="text" class="form-control" id="new_symbol_name" placeholder="Name">
		    </div>
		</form>
		
	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button id="new_symbol_button" type="button" class="btn btn-primary">Save changes</button>
	    </div>
	</div>
    </div>
</div>



<h4>Captures</h4>
<ul id="list-captures" class="list-group captures-list">
</ul>


<h4>Misc</h4>
<ul class="list-group symbol-list">
    <li class="list-group-item"><a href="/api">Swagger API</a>
</ul>


