/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#nav {
    height:42px;
    margin-bottom: 0px;
}

.progress{
    width: 100%;
    margin:0px;
    height:5px;
}



/* Forms */


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}


.editable:hover {
    border-bottom: 1px solid #e7e7e7;
}

/**
 *
 * symbols/symbol.html
 *
 */

.symbol-header h2{
    margin-top:0px;
}
