#+---------------------------------------------- 
#| Netzob Global Configuration File
#+----------------------------------------------
#| @authors : {gbt,fgy}@amossys.fr
#| @version : 0.2
#+----------------------------------------------

#+----------------------------------------------
#| Section "traces"
#+----------------------------------------------
#| Definition of the traces which can be
#| analyzed by netzob
#+----------------------------------------------
#| @param path : path to the directory where 
#|				 the traces are locates.
#|				 absolute or relative
#+----------------------------------------------
[traces]
path = resources/traces

#+----------------------------------------------
#| Section "logging"
#+----------------------------------------------
#| Definition of the logging module which is
#| in charge of the reporting
#+----------------------------------------------
#| @param path : path to the logging
#|				 configuration file
#|				 absolute or relative
#+----------------------------------------------
[logging]
path = resources/logging/logging.conf

#+----------------------------------------------
#| Section "clustering"
#+----------------------------------------------
#| Definition of the parameters of the 
#| clustering operations
#+----------------------------------------------
#| @param nbIteration : the maximum number of 
#|						iterations of the 
#|						clustering algorithm
#| @param equivalence_threshold : the threshold
#|						of the score which makes
#|						two groups as equivalents
#+----------------------------------------------
[clustering]
nbIteration = 100
equivalence_threshold = 85
