
{% extends "layout_two_cols.html" %}

{% block col_left %}

<div>
    <ul class="list-group symbol-list">
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>	
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>	
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>	
    </ul>
</div>

{% endblock %}

{% block col_right %}

pif paf pouf

{% endblock %}

