
{% extends "layout.html" %}

{% block content %}

<div class="panel panel-primary">  
    <div class="panel-body symbol-header">

	<button id="symbol_delete" class="btn btn-danger pull-right" >Delete</button>
	
	<h2><span id="symbol_name"></span> <span id="symbol_id" class="small"></span></h2>

	<p id="symbol_description"></p>

	<h4>Inference Actions</h4>
	<div class="btn-toolbar" role="toolbar">
	    <div class="btn-group btn-group-xs" role="group">
		<button id="symbol_split_align" class="btn btn-default" >Field Split Alignment</button>
		<a href="#" class="btn btn-default" >Field Split Static</a>
		<a href="#" class="btn btn-default" >Field Split Delimiter</a>	
		<a href="#" class="btn btn-default" >Cluster by Alignment</a>
		<a href="#" class="btn btn-default" >Cluster by Applicative Data</a>
		<a href="#" class="btn btn-default" >Cluster by Key Field</a>        
		<a href="#" class="btn btn-default" >Cluster by Size</a>
	    </div>	    
	</div>
    </div>
</div>

<div class="panel panel-default" >
    <div class="panel-body">
	Fields
    </div>
    <div class="panel-body fields" >

    </div>

</div>

<div class="panel panel-default">  
    <div class="panel-body">
	<table id="symbol_alignment" class="table table-condensed table-hover table-bordered nowrap" width="100%" >
	</table>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
 
 function load_symbol_cells(sid) {
     
     get_symbol_cells("{{ sid }}", function(symbol_cells) {
	 
	 if ( $.fn.dataTable.isDataTable( '#symbol_alignment' ) ) {
	     table = $('#symbol_alignment').DataTable();
	     table.destroy();
	 }

	 table = $("#symbol_alignment").DataTable( {
	     "scrollX": true,
	     "columns": symbol_cells.columns.map(function(col) { return {'title': col.name} })
	 });

	 for (i_row = 0; i_row < symbol_cells.rows.length; i_row ++) {
	     table.row.add(symbol_cells.rows[i_row].items.map(function(item) {return item.data }));
	 }
	 table.draw(false);

     });
 }
 
 $(function() {

     get_symbol("{{ sid }}", function(symbol) {

	 // symbol id
	 $("span#symbol_id").text("{{ sid }}");

	 // symbol name is editable
	 $("span#symbol_name").text(symbol.name);
	 $("span#symbol_name").editable().on('editsubmit', function (event, val) {

	     patch_symbol_name("{{ sid }}", val, function(result) {
		 refresh_nav("{{ sid }}");
	     });
	     
	     
	 });
	 // refresh symbol description
	 if (symbol.description.length == 0) {
	     $("p#symbol_description").text("no description found");
	 } else {
	     $("p#symbol_description").text(symbol.description);
	 }
	 $("p#symbol_description").editable().on('editsubmit', function (event, val) {

	     patch_symbol_description("{{ sid }}", val, function(result) {
		 console.log("description saved");
	     });
	     
	     
	 });

	 // refresh symbol description
	 $("span#symbol_nb_messages").text(symbol.messages.length);

	 // attach functions to the buttons
	 $("button#symbol_split_align").click(function(e) {
	     e.preventDefault();

	     start_job(symbol_split_align("{{ sid }}")).then(
		 function() {
		     location.reload();
		 });
	     
	 });

	 $("button#symbol_delete").click(function(e) {
	     e.preventDefault();

	     start_job(delete_symbol("{{ sid }}")).then(
		 function () {
		     window.location.href = "/symbols";
		 });
	     
	 });


	 
	 load_symbol_cells("{{ sid }}");
	 
     });
 });

</script>
{% endblock %}
