
{% extends "layout_two_cols.html" %}

{% block col_left %}

<div>
    <ul class="list-group symbol-list">
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>	
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>	
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>
	<li class="list-group-item"><a href="/symbols/1">Symbol 1</a></li>	
    </ul>
</div>

{% endblock %}

{% block col_right %}

<h2>Symbol 1</h2>

<p>
  Description of the symbol
</p>

<table class="table table-condensed table-hover table-bordered" >

    <thead>
	<tr>
	    <th>#</th>
	    <th>Field 1</th>
	    <th>Field 2</th>
	    <th>Field 3</th>
	    <th>Field 4</th>
	    <th>Field 5</th>	    	    	    	    
	</tr>
    </thead>
    <tbody>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>
	<tr>
	    <td>1</td>
	    <td>qkmdskqsdlmqskdml</td>
	    <td>slkdjlkq</td>
	    <td>qslkdjqsjkdlqsjdlkqsjdkljqslkjdqskljdklqsldqjskldjqlksdjkqlsjdklqsjl</td>
	    <td>qsldqs</td>
	    <td>sqd</td>
	</tr>

    </tbody>
</table>


{% endblock %}

