
{% extends "layout.html" %}
{% block content %}

<h2>Importers</h2>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#raw_file" aria-controls="home" role="tab" data-toggle="tab">Raw File</a></li>
    <li role="presentation"><a href="#pcap_file" aria-controls="pcap_file" role="tab" data-toggle="tab">PCAP File</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" style="padding-top:10px" id="raw_file">
	{% include "captures/import_file_raw_form.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" style="padding-top:10px" id="pcap_file">
	{% include "captures/import_file_pcap_form.html" %}	
    </div>
</div>
<br />
<br />

<div class="panel panel-default">
    <div class="panel-heading">
	<h3 class="panel-title">Messages ready to be imported</h3>
    </div>
    <div class="panel-body">
	<table id="messages" class="table display nowrap" width="100%" cellspacing="0" style="width: 800px;margin: 0 auto;" >
	    <thead>
		<tr>
		    <th>Type</th>
		    <th>Source</th>
		    <th>Destination</th>
		    <th>Payload</th>
		</tr>
	    </thead>
	    <tbody>
	    </tbody>
	</table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
	<form method="POST" id="import_file_final" class="form-inline" >
	    <center>
		<div class="form-group">
		    <label for="capture_name">Symbol name</label>
		    <input type="text" class="form-control" id="capture_name" name="capture_name">
		</div>

		<button id="import_file_final_button" type="submit" class="btn btn-primary" >Create symbol with selected messages</a>
	    </center>
	</form>
    </div>    
</div>


{% endblock %}

{% block js %}

<script>

 var retained_messages = [];
 
 function register_message(table, message) {

     retained_messages.push(message);
     
     table.row.add(
	 [
	     message.messageType,
	     message.source,
	     message.destination,
	     message.data
	 ]
     ).draw( false );     
 }

 function create_symbol_with_messages(symbol_name, retained_messages) {

     // creates the symbol
     create_symbol(symbol_name, function(symbol) {
	 sid = symbol.id;

	 // creates the capture
	 create_capture(symbol_name, function(capture) {
	     cid = capture.id;

	     
	     for (var iMsg=0; iMsg < retained_messages.length; iMsg ++) {
		 create_message(cid, retained_messages[iMsg], function(message) {
		     mid = message.id
		     put_message_in_symbol(sid, mid, function(data) {})	
		 });
	     }
	 })
     })


 }
 
 $(function() {

     configure_import_file_raw_form();
     configure_import_file_pcap_form();

     var table = $('#messages').DataTable( {
	 order: [[ 1, 'asc' ]]
     } );
     
     
     var fileSelect = document.getElementById('capture_files');
     var uploadButton = document.getElementById('import_file_button');
     
     var importButton = document.getElementById('import_file_final_button');
     document.getElementById('import_file_final').onsubmit = function(event) {
	 event.preventDefault();

	 // Update button text.
	 importButton.innerHTML = 'Importing...';

	 var capture_name = $('#capture_name').val();

	 sid = 0
	 cid = 0

	 $(document).ajaxStop(function() {
	     $(this).unbind("ajaxStop"); //prevent running again when other calls finish

	     // Update button text.
	     importButton.innerHTML = 'Create symbol with selected messages';

	     window.location = "/symbols/"+sid;
	 });


	 start_job(create_symbol_with_messages(capture_name, retained_messages).then(
	     symbol => {
		 console.log("Symbol ("+symbol.id+") created");
	     }
	 ));
	 
     };
     
 });

 
</script>
{% endblock %}
