<form method="POST" id="import_file_raw">
    <div class="container-fluid" >
	<div class="row" >
	    <div class="col-md-12" >
    <p>
  Use this importer to import the messages embedeed in files. The importer splits the provided files in messages based on a delimiter you specify. A typical delimiter is carriage return.
    </p>
	    </div>
	</div>
  
    <div class="row">
      <div class="col-md-6" >
	<div class="form-group">
	  <label for="import_file_raw_file">Select the file</label>
	  <input type="file" class="form-control" id="import_file_raw_file" name="import_file_raw_file">
	</div>
      </div>
      <div class="col-md-6" >
	<div class="form-group">
	  <label for="delimiter">Specify a delimiter</label>
	  <input type="text" class="form-control" id="import_file_raw_delimiter" name="import_file_raw_delimiter">
	</div>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12">
	<button type="submit" class="btn btn-default" id="import_file_raw_button">Extract messages</button>
      </div>
    </div>
  </div>
</form>

<script>
 function configure_import_file_raw_form() {

     //
     // configure the operation when pcap import is triggered
     //
     document.getElementById('import_file_raw').onsubmit = function(event) {
	 event.preventDefault();

	 var table = $('#messages').DataTable()
	 var delimiter = document.getElementById('import_file_raw_delimiter').value;
	 var raw_file = document.getElementById('import_file_raw_file').files[0];
	 
	 var reader = new FileReader();
	 reader.onload = function(e) {
	     var raw_filename = raw_file.name;
	     var raw_file_content = reader.result;
	     
	     parse_raw(raw_filename, raw_file_content, delimiter, function(messages) {

		 for (var i_msg = 0; i_msg < messages.length; i_msg ++) {		     
		     register_message(table, messages[i_msg]);
		 }
		 
	     })
	     
	 }
	 reader.readAsDataURL(raw_file);
     }
 }
</script>
