<form method="POST" id="import_file_pcap">
    <div class="container-fluid" >
	<div class="row">
	    <div class="col-md-12">
    <p>
	
	Import messages embedeed in PCAP files. This importer can extract messages out of the payloads of network communications. A BPF filter and an import layer can be set to filter network packets and their content you want to analyze
	<ul>
	    <li>Layer 1 or 2, it extracts everything</li>
	    <li>Layer 3, it extracts payloads of the raw layer (such as Ethernet)</li>
	    <li>Layer 4, it extracts payloads of the network layer (such as IP)</li>
	    <li>Layer 5, it extracts payloads of the transport layer (such as TCP or UDP)</li>
	</ul>
    </p>
	    </div>
	</div>
    <div class="row">
      <div class="col-md-6" >
	<div class="form-group">
	  <label for="import_file_pcap_files">Select the PCAP file</label>
	  <input type="file" class="form-control" id="import_file_pcap_file" name="import_file_pcap_file">
	</div>
      </div>
      <div class="col-md-6" >
	<div class="form-group">
	  <label for="delimiter">Import layer</label>
	  <select class="form-control" id="import_file_pcap_layer" name="import_file_pcap_layer">
	      <option value="1">Layer 1</option>
	      <option value="2">Layer 2</option>
	      <option value="3">Layer 3</option>
	      <option value="4">Layer 4</option>
	      <option value="5">Layer 5</option>
	  </select>
	</div>
      </div>
    </div>
    <div class="row">
	<div class="col-md-12">
	    <div class="form-group">
		<label for="import_file_pcap_bpf">Specify a BPF filter</label>
		<input type="text" class="form-control" id="import_file_pcap_bpf" name="import_file_pcap_bpf">
	    </div>
	</div>
    </div>
    <div class="row" >
      <div class="col-md-12">
	<button type="submit" class="btn btn-default" id="import_file_pcap_button">Extract messages</button>
      </div>
    </div>
  </div>
</form>

<script>
 function configure_import_file_pcap_form() {

     //
     // configure the operation when pcap import is triggered
     //
     document.getElementById('import_file_pcap').onsubmit = function(event) {
	 event.preventDefault();

	 var table = $('#messages').DataTable()
	 var layer = parseInt(document.getElementById('import_file_pcap_layer').value);
	 var bpf_filter = document.getElementById('import_file_pcap_bpf').value;
	 var pcap_file = document.getElementById('import_file_pcap_file').files[0];
	 //var pcap_file = pcap_files[0];
	 
	 var reader = new FileReader();
	 reader.onload = function(e) {
	     var pcap_filename = pcap_file.name;
	     var pcap_file_content = reader.result;

	     start_job(parse_pcap(pcap_filename, pcap_file_content, layer, bpf_filter)).then(
		 messages => {
		     for (var i_msg = 0; i_msg < messages.length; i_msg ++) {		     
			 register_message(table, messages[i_msg]);
		     }
		 }
	     );
	 }
	 reader.readAsDataURL(pcap_file);
     }
 }
</script>
