arpreq==0.3.1
bintrees==2.0.7
bitarray==0.8.1
colorama==0.3.3
Cython==0.27.3
minepy==1.0.0
netaddr==0.7.18
numpy==1.14.3
pcapy==0.10.10
PyCRC==1.21
randomstate==1.13.1
-e git+https://git@github.com/euri10/impacket.git/@py3#egg=impacket
